<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
     New work log was created at this link: <%=link_to 'post',"http:/localhost:3000"+post_path(@post) %>.
    </p>
  </body>
</html>